// This file lists every color as the base stylesheets, with the same selectors
// (potentially nested). The order is preserved as much as possible.
// To avoid repetition of non-color values, "-color" is used where needed.

html {
    color: #eee;
}

//
// crxviewer.less
//
#top-bar {
    border-bottom-color: #666;
    #file-filter {
        border-color: #999;
        color: #EEE;
        &:focus {
            border-color: rgb(77, 144, 254);
        }
        &.invalid {
            background-color: #400;
        }
    }
    label {
        background: Canvas;
        &:hover {
            outline-color: rgba(255, 255, 255, 0.2);
        }
    }
}
.site-specific-form {
    > div:hover {
        background-color: #2A2A2A;
    }
    label {
        &:hover, &:active {
            background-color: #555;
        }
    }
    input:invalid {
        outline-color: #A00;
    }
}
#left-panel {
    background-color: Canvas;
    & > .resizer {
        background-color: #666;
        &:hover {
            background-color: #BBB;
        }
    }
}
footer {
    border-top-color: #557;
}
.toggler {
    border-color: transparent;
    border-right-color: rgba(0,0,0,0.5);
    &:hover {
        border-right-color: #555;
    }
    .toggled & {
        border-left-color: #111;
    }
}
#file-list {
    li {
        &:hover {
            background-color: rgba(99,99,99,0.2);
        }
        &.file-selected {
            background-color: #346;
        }
        .file-path {
            .file-dir:not(:hover) {
                color: #A8A8A8;
            }
        }
    }
}
#total-size {
    border-top-color: #AAA;
}
.file-specific-toolbar {
    .find-all-enabled {
        color: #d00;
        // Same style as .search-result-highlight in search-tools.less to help
        // users with getting familiar with the look of highlighted results.
        outline-color: orange;
        background-color: rgba(177, 177, 77, 0.3);
    }
}
.file-specific-download-link {
    &:not([href]) {
        border-bottom-color: currentColor;
    }
}
.content-verifier-wrapper {
    .content-verifier-output {
        background: Canvas;
        border-color: #669;
    }
}
img:hover {
    outline-color: rgba(200, 200, 200, 0.5);
}

//
// search-tools.less
//
.search-result-highlight {
    stroke: orange;
    fill: rgba(177, 177, 77, 0.3);
}
.search-result-match {
    stroke: #d00;
    fill: transparent;
}
